html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre{
  background-color: black;
  color: #FFFFFF;
  direction: ltr;
  padding: 1rem;
  display: grid;
  border-radius: 2px;
  width: 100%;
}

pre p{
  width: 100%;
}

.main-img{
  width: 100%;
}

.post-body{
  width: 100%;
}
