.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0070f3;
    width: 100%;
    height: 8rem;
}

.mainDiv span{
    color: #eaeaea;
    font-size: 8rem;
    font-family: Sahadeva;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .mainDiv span{
        font-size: 5rem;
    }
}

@media (max-width: 600px) {

    .mainDiv span{
        font-size: 2rem;
    }
}
