.post_container{
        width:23rem;
    grid-auto-rows: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.property_card{
    width:18em;
    height: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.property_card :hover{
    height: auto;
}

.text{
    font-size:22px;
    margin:0 1rem 1rem 1rem;
}

.card_img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 12rem;
}

.title {
    margin:0 1rem;
    font-size:1.2em;
    font-weight:700;
}

.read_more{
    justify-self: end;
    align-self: flex-end;
    margin: 0  0 1rem 1rem;
}

@media (max-width: 600px) {
    .post_container{
        width:100%;
        margin:0;
    }
}
